* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FIRST IMAGE */
.first {
    background-color: gray;
    width: 400px;
    height: 340px;
    margin: 50px;
    padding: 50px;
}

.first img {
    border: 20px solid blue;
    border-radius: 10px;
}

/* SECOND IMAGE */
.container {
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
    border: 10px solid blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container h1 {
    font-size: 50px;
    padding: 20px;
}

.container .parent {
    background-color: whitesmoke;
    margin: 200px 300px 200px 300px;

    padding: 50px 0 50px 0;
    border-radius: 30px;

}

.container img {
    border: 5px solid green;
    border-radius: 50%;

    object-fit: cover;
}

.container div strong {
    font-size: 40px;
}


.container p {
    font-size: 20px;
}
.container2 {
    margin: 40px;
    padding: 20px;
    width: 60%;
    height: 400px;
    background-color:rgb(215, 215, 215);
    border-radius: 10px;
}

.content {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 20px;
}

.icons {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.icons i {
    padding-left: 50px;
    padding-right: 50px;
}

.container2 p {
    text-align: center;
    padding: 20px;
}