:root {
    --light-color:white;
    --dark-color:black;
    --theme-color:#AE59FF;
    --object-color:#FF9F67;
    --text-main:#4255a4;
    --text-other:#6E7697;
}

/* The below default will apply to all HTML content that containes 
the below content in HTML */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'mulish';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans';
}

p {
    text-align: justify;
}

li {
    list-style: none;
}


a {
    text-decoration: none;
    /* display: inline-block; */
}

img {
    /* display: block; */
    max-width: 100%;
}

/* This is specified once that will only apply 
to place where we gonna define the classes
- the classes are belowed */

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

/* Flex classes */
.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content:space-between;
}

.justify-flex-start {
    justify-content:flex-start;
}

/* position classes*/

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* width classes by its total count */

.width-content-1{
    width: 100%;
}


.width-content-2{
    width: 50%;
}



.width-content-3{
    width: 33.33%;
}


.width-content-4{
    width: 25%;
}

/* Main CSS start here  */

/* Header */

header {
    padding: 20px 0;
    background-color: #007bff;
    height: 70px;
    
}

nav ul {
    gap: 30px;
    font-size: larger;
}

nav ul li a {
    color: whitesmoke;
    font-weight: 600;
    
}

nav ul li button {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    color: var(--light-color);
    /* background-color: transparent; */
}

nav ul li:nth-child(6){
    margin-left: 30px;
}

nav ul li:nth-child(6) 
button {
    background-color: var(--object-color);
    position: relative;
    overflow: hidden;
    z-index: 5;

}

nav ul li:nth-child(6) 
button::after {
    content: '';
    position: absolute;
    background-color: var(--theme-color);
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    z-index: -1;
}


nav ul li:nth-child(6) 
button:hover::after {
    left: 0%;
    top: 0;
    
    transition: all 0.3s ease-in-out;
}



nav ul li:nth-child(7) 
button {
    background-color:transparent;
    position: relative;
    overflow: hidden;
    z-index: 5;
    border: 1px solid whitesmoke;
}

nav ul li:nth-child(7) 
button::after {
    content: '';
    position: absolute;
    background-color: var(--object-color);
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    z-index: -1;
}


nav ul li:nth-child(7) 
button:hover::after {
    left: 0%;
    top: 0;
    
    transition: all 0.3s ease-in-out;
}


main {
    width: 100%;
    height: 800px;
    background-image:url(images/h1_hero.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}