:root {
    --light-color:white;
    --dark-color:black;
    --theme-color:#AE59FF;
    --object-color:#FF9F67;
    --text-main:#4255a4;
    --text-other:#6E7697;
}

/* The below default will apply to all HTML content that containes 
the below content in HTML */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'mulish';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans';
}

p {
    text-align: justify;
}

li {
    list-style: none;
}


a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
}

/* This is specified once that will only apply 
to place where we gonna define the classes
- the classes are belowed */

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Flex classes */
.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.row-wrap {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content:space-between;
}

.justify-flex-start {
    justify-content:flex-start;
}

/* position classes*/

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* width classes by its total count */

.width-content-1{
    width: 100%;
}


.width-content-2{
    width: 50%;
}



.width-content-3{
    width: 33.33%;
}


.width-content-4{
    width: 25%;
}

/* Main CSS start here  */

/* Navbar section*/
header {
    padding: 20px 0;
    position:absolute;
    z-index: 9;
    width: 100%;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu li{
    color:var(--light-color);
    margin: 0 20px;
    font-weight: 600;
}

 .menu ul li:nth-child(6) button,
.title-btn button{
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    color: var(--light-color);
    font-weight: 600;
    background-color: var(--object-color);
    position: relative;
    overflow: hidden;
    z-index: 5;

}

.menu ul li:nth-child(6) button::after,
.title-btn button::after {
    content: '';
    position: absolute;
    background-color: var(--theme-color);
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    z-index: -1;
}
 
.menu ul li:nth-child(6) button:hover::after,
.title-btn button:hover::after {
    left: 0%;
    top: 0;
    
    transition: all 0.3s ease-in-out;
}


 .menu ul li:last-child button{
    padding: 15px 33px;
    border-radius: 5px;
    border: 1px solid var(--light-color);
    color: var(--light-color);
    font-weight: 600;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    z-index: 5;

}

.menu ul li:last-child button::after {
    content: '';
    position: absolute;
    background-color: var(--theme-color);
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    z-index: -1;
}
 
.menu ul li:last-child button:hover::after {
    left: 0%;
    top: 0;
    
    transition: all 0.3s ease-in-out;
}

/* Top-Title-section */
main #first-section{
    background-image: url(images/h1_hero.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 800px;
    position: relative;
}

.Top-Title-section {
    position: absolute;
    top: 25%;
    left: 10%;
}

.title h1 , p {
    padding: 15px 0;
}

.title h1{
    color: var(--light-color);
    font-size:60px;
    line-height: 70px;
}

.title p {
    color: var(--light-color);
    font-weight: 500;
    line-height: 30px;
}

 .title-btn button{
    padding: 17px 40px;
} 


/* Features Section */

.width-content-3 {
    padding: 10px 10px;    
    margin: 20px;
    background-color:var(--light-color);
    min-width: 300px;
    max-width: 300px;
    background-color: var(--light-color);
    border-radius: 10px;
    transform: translateY(-50%);
    box-shadow: 0 0px 7px -4px;
}

.features-img,
.features-content {
    padding: 5px;
}

/* Courses Section */

.course-title {
    color: var(--text-main);
    text-align: center;
    font-size: 40px;
    margin: 50px 0;
    /* padding-bottom: 20%; */
}

